<p id="notice"><%= notice %></p>

<p>
  <strong>Contributor:</strong>
  <%= @post.contributor %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Post number:</strong>
  <%= @post.post_number %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

